.weather__list-item {
  gap: 1rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background: none;
  border: none;
  background-color: white;
  outline: 1px solid lightcoral;
  padding: 5px;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: lightcoral;
}
