.form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form__checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.form__submit-button {
  width: 150px;
  margin: 0.4rem auto;
  border: none;
  height: 2rem;
  border-radius: 10px;
}
